<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include mobile_import %>
    <style type="text/css">

    </style>
  </head>
  <body>
  	<% include mobile_nav %>
  	<p style="text-align:center;">广告位招租</p>
<script type="text/javascript">
		
</script>
  </body>
</html>
