<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include mobile_import %>
    <style type="text/css">
    </style>
  </head>
  <body>
    <% include mobile_nav %>
  	<p style="font-size:72px;text-align:center;">开发中。。。</p>
<script type="text/javascript">
	$(function () {
		
	})
</script>
  </body>
</html>
