<div id="head">
	<ul>
		<li <%if(title == "home"){%>class="active"<%}%>><a href="/">Home</a></li>
		<li <%if(title == "contacts"){%>class="active"<%}%>><a href="/contacts">Contacts</a></li>
		<li <%if(title == "user"){%>class="active"<%}%>><a href="/user">User</a></li>
		<li <%if(title == "help"){%>class="active"<%}%>><a href="/help/">Help</a></li>
	</ul>
</div>