<nav class=" navbar-fixed-top" role="navigation" style="width:120px;">
	<ul>
		<li>
			<a href="/" class="btn btn-info btn-lg <%if(title == "home"){%>now<%}%>" data-width="115px" style="width:50px;border-radius:50px;">
	          <span class="glyphicon glyphicon-home"></span><span style="margin-left:15px;">Home</span>
	        </a>
		
		</li>
		<li>
			<a href="/contacts" class="btn btn-info btn-lg <%if(title == "contacts"){%>now<%}%>" data-width="135px" style="width:50px;border-radius:50px;">
	          <span class="glyphicon glyphicon-list-alt"></span><span style="margin-left:15px;">Contacts</span>
	        </a>
		</li>
		<li>
			<a href="/user" class="btn btn-info btn-lg <%if(title == "user"){%>now<%}%>" data-width="105px" style="width:50px;border-radius:50px;">
	          <span class="glyphicon glyphicon-user"></span><span style="margin-left:15px;">User</span>
	        </a>
		</li>
		<li>
			<a href="/help" class="btn btn-info btn-lg <%if(title == "help"){%>now<%}%>" data-width="102px" style="width:50px;border-radius:50px;">
	          <span class="glyphicon glyphicon-question-sign"></span><span style="margin-left:15px;">Help</span>
	        </a>
		</li>
		<li>
			<a href="#" class="btn btn-info btn-lg to_top" data-width="95px" style="width:50px;border-radius:50px;display:none;">
	          <span class="glyphicon glyphicon-chevron-up"></span><span style="margin-left:15px;">Top</span>
	        </a>
		</li>
	</ul>
</nav>