body {
  padding: 50px 50px 0 130px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td{
	vertical-align: middle;
}
.table>thead>tr>th{
	text-align: center;
}
/*前台页面nav*/
nav ul{
	margin-top: 100px;
}
nav ul li{
	margin: 20px 0 20px 0;
	list-style: none;
}
nav ul li a{
	overflow: hidden;
}
nav ul li a.now{
	color: #337ab7;
}
nav ul li a.now:hover{
	color: #337ab7;	
}
.glyphicon{
	top: 3px;
}